div{
    height:100vh;
    width: 100%;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

.container {
    display: flex;
    height:100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  margin-right: auto;
}

.container > * {
    width: 40%;
}

h1 {
  color: lightsalmon;
}