

        
        <div>
            <h1> Login </h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
                <mat-form-field >
                    <input matInput placeholder="Username" formControlName="login">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Password"  formControlName="password">
                </mat-form-field>
                <br>
                <button mat-flat-button color="primary" [disabled] ="!loginForm.valid" type="submit">Login</button>
        
            
        </form>
    </div>
    <router-outlet></router-outlet>