<div>
<h1 st>Available Boards</h1>
<nav>
  <ul>
        <li *ngFor="let boardname of boardnames, let i = index, let last = last">
            <br>
            <button mat-raised-button color="primary" [routerLink]="'/board'">{{boardname.name}}</button><span></span>
            <br>
            <br *ngIf="last">
            <!-- 
              <button *ngIf="last" mat-raised-button color="warn" type="submit" (click)="addNewBoard()">
              Add New Board
          </button> 
        -->
        </li>
        
  </ul>
</nav>
<router-outlet></router-outlet>