<div class="container">
    <div class="etykieta" style="color: #50d0fb">
    <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <select matNativeControl>
          <option style="width:2000px; background-color: rgb(25, 155, 35); font-size: 13px;" value="volvo">FINISHED</option>
          <option style="width:2000px; background-color: rgb(214, 139, 0); font-size: 13px;" value="saab">WORK IN PROGRESS</option>
          <option style="width:2000px; background-color: rgb(81, 7, 255); font-size: 13px;" value="mercedes">To Do</option>
        </select>
      </mat-form-field>
      
      </div>
    <div class="text">{{text}}</div>
    
    <div class="card-bar">
        <ng-template #elseBlock><p class="card-name">{{ this.text }}</p></ng-template>
        <p class="card-name" *ngIf="nameChanged == false">{{ this.text }}</p>
        <span></span><button mat-raised-button color="primary" class="mat-but" (click)="edit = !edit; newText = this.text">&#9998;</button>
        <span></span>
        <div class="card-name-change" [hidden]="!edit">Enter new card name: 
            <input class="inputArea" type="text" [(ngModel)]="newText"> <span></span>
        <div class="card-name-change" [hidden]="!edit">Enter description: 
            <textarea class="inputArea" cols="40" rows="5" [(ngModel)]="newDesc"> </textarea><span></span>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
              <!-- #docregion toggle -->
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              <!-- #enddocregion toggle -->
              </mat-form-field>
              
            <button mat-raised-button color="primary" type="submit" id="bt" (click)="editTask();">
                Save
            </button>
            <button class="deleteButton" mat-raised-button color="primary" id="delete" (click)="deleteTask();">Delete task</button>
      </div>
      <span></span>
</div>
