<div class="root">
  
  <div class="board">
    <div class="board-bar" >
      <p class="board-name" style="color:rgb(238, 39, 39); font-style: italic;" *ngIf="nameChanged == true; else elseBlock">{{ namess }}</p>
      <ng-template #elseBlock><p class="board-name" style="color:rgb(238, 39, 39); font-style: italic;">{{ board.name }}</p></ng-template>
      <p class="board-name" style="color:rgb(238, 39, 39); font-style: italic;" *ngIf="nameChanged == false">{{ board.name }}</p>
      <span></span><button mat-raised-button color="primary" class="mat-but" (click)="edit = !edit; str = board.name">&#9998;</button>
      <span></span>
      <div class="board-name-change" [hidden]="!edit">
      Enter new board name <input type="text" [(ngModel)]="str"> <span></span>
          <button mat-raised-button color="primary" type="submit" (click)="changeBoardName()" id="bt">
              Save
          </button>
    </div>
    <span></span>
    <div><button mat-raised-button color="primary" [routerLink]="'/overview'">All boards</button></div>
    
    </div>
    <div class="add-list-button">
      <button (click)="addList()" style="float:left; margin-left: 10px; margin-top: 10px;" mat-raised-button color="primary">Add List</button>
    </div>  
    <div class="board-wrapper">
     
      <div class="board-columns" cdkDropListGroup>                
        <div class="list-container" cdkDropListGroup>
        <app-list class="table-line" *ngFor="let list of lists"></app-list>
      </div>

      </div>

    </div>

  </div>

</div>