<div class="all-list">
    <div class="container">
        <div class="list-name" contenteditable="true">New list</div>
        <div class="button" (click)="delete();">Delete List</div>
    </div>
    <div class="list" cdkDropList [cdkDropListData]="items">
        <mat-card class="list-item" *ngFor="let item of tasks" cdkDrag>
            <mat-card-content>
                <app-task></app-task>
            </mat-card-content>
        </mat-card>
    </div>
    <form #newItemForm="ngForm" (ngSubmit)="onSubmit(newItemForm)">
        <mat-form-field>
            <input matInput name="newItem" ngModel type="text" placeholder="Enter a new item">
        </mat-form-field>
        <button mat-raised-button color="primary">Add Item</button>
    </form>
</div>